body {
	color: white;

}
.emptyHole {
/*	border: 2px solid black;*/
	background-color: black;
	height: 128px;
	width: 128px;
	margin: 30px;
	position: relative;
	float: left;
}

.activeHole {
	/*border: 1px solid black;*/
/*	background-color: red;*/
	background-image: url(/img/ted-cruz.png);
	background-repeat: no-repeat;
}

#myScore {
	font-size: 30px;
}

#shotClock {
	font-size: 30px;
}

span {
	font-size: 30px;
}

#gameBox {
	border: 1px solid black;
	background-color: blue;
	height: 400px;
	width: 800px;
	padding: 10px;
	margin-left: 300px;
	margin-bottom: 10px;
}