body {
	color: white;
}

#sickle {
    cursor:url("/img/commie.png"), auto;
}


span {
	font-size: 30px;
}

.emptyHole {
	background-color: black;
	height: 128px;
	width: 128px;
	margin: 30px;
	position: relative;
	float: left;
}

.activeHole {
	background-image: url(/img/ted-cruz-round.jpg);
	background-repeat: no-repeat;
}

#titleBox {
	margin-left: 10px;
}

#myScore {
	margin-left: 25px;
	font-size: 30px;
}

#shotClock {
	margin-left: 25px;
	font-size: 30px;
}


#gameBox {
	border: 1px solid black;
	background-color: blue;
	height: 400px;
	width: 800px;
	padding: 10px;
	margin-left: 200px;
	margin-bottom: 10px;
}